  <%- partial('_partial/head') %>
  <body>
    <div id="container" class="clearfix">
      <%- partial('_partial/header') %>
      <article id="layout" class="pure-g">
        <%- partial('_partial/content') %>

        <%- partial('_partial/aside') %>

        <%- partial('_partial/footer') %>
      </article>
    </div>
    <%- partial('_partial/after-footer') %>
  </body>
</html>