  <%- partial('_partial/head') %>
  <body>
    <div id="container" class="container app">
      <%- partial('_partial/header') %>
      <%- partial('_partial/aside') %>
      <%- partial('_partial/content') %>
     
     
     
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after-footer') %>
    </div>
    
  </body>
</html>