<header id="header">
    <div class="site-title">
        <a href="<%- url_for() %>" id="logo"><%- config.title %></a>
        <p class="description"><%- config.description %></p>
    </div>

    <nav class="nav">
        <% theme.menu.forEach(function(item){ %>
            <a class="nav-item" href="<%- url_for(item.directory) %>">
                <i class="fa <%- item.icon %> fa-fw"></i>&nbsp; <%- item.page %>
            </a>
        <% }) %>
    </nav>
</header>